[run]
source = sagaz
branch = True
concurrency = multiprocessing
parallel = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self.debug:
    if settings.DEBUG

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod
    class .*\bProtocol\):
    
    # Don't complain about type checking guards:
    if TYPE_CHECKING:
    if typing.TYPE_CHECKING:

omit =
    */tests/*
    */__init__.py
    sagaz/__init__.py
    sagaz/*/__init__.py
    sagaz/examples/*
    sagaz/cli.py
    sagaz/cli_app.py
    sagaz/cli/app.py
    sagaz/cli/main.py
    sagaz/cli/dry_run.py
    sagaz/cli/examples.py
    sagaz/integrations/django.py
    sagaz/integrations/flask.py
    sagaz/triggers/sources/broker.py
    sagaz/triggers/sources/cron.py
