apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: sagaz

commonLabels:
  deployment-type: ha-postgres

resources:
  - postgresql-ha.yaml
  - pgbouncer.yaml

# Include partitioning scripts as ConfigMap
configMapGenerator:
  - name: postgres-partitioning
    files:
      - partitioning/001_create_partitioned_tables.sql
      - partitioning/002_partition_maintenance_functions.sql
      - partitioning/003_initial_partitions.sql
